{% extends 'layout.html' %} {% block body %}
<div class="container-fluid">
    <div class="media">
        <img class="rounded-circle profile-picture" src="{{  image  }}">
        <div class="media-body">
            <a class="btn btn-md btn-outline-danger float-right" href="{{ url_for('users.logout') }}">Log out</a>
            {% if current_user.role == "Admin" %}
            <a class="btn btn-md btn-outline-secondary float-lg-right mr-2 hide" href="{{ url_for('pictures.new_photo') }}">Add Photo</a>
            {% endif %}
            <h2 id="jstest">{{ current_user.username }}</h2>
            <p class="text-secondary">{{ current_user.email }}</p>
            <a class="btn btn-md btn-outline-secondary" href="{{ url_for('users.edit') }}">Edit information</a>
        </div>
    </div>
    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <hr class=my-4>
                <div class="form-group">
                    {{ search_form.search_query.label(class="form-control-label") }}
                    {% if search_form.search_query.errors %}
                        {{ search_form.search_query(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in search_form.search_query.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ search_form.search_query(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
        </form>
    </div>
    <div class="container-fluid pt-4">
        <div class="row">
            {% for count, img in enumerate(photo) %} {% if count % 4 == 0 %}
            <div class="w-100"></div>
            {% endif %}
            <div class="col-sm xs-width">
                <a href="{{ url_for('pictures.get_js_data', jsdata=img) }}">
                <img src="https://s3.eu-west-2.amazonaws.com/shanna-rebekah-photography/{{ img }}.JPG" alt="Account Picture" class="img-fluid rounded">
                </a>
                <a class="my-2 btn btn-sm btn-outline-secondary hide" href="{{ url_for('pictures.get_js_data', jsdata=img) }}">View</a>
            </div>
            {%endfor%}
        </div>
    </div>

{% endblock %}