{% extends 'layout.html' %} {% block body %}
<div class="container-fluid">
    <div class="media">
        <img class="rounded-circle profile-picture" src="{{  image  }}">
        <div class="media-body">
            <a class="btn btn-md btn-outline-danger float-right" href="{{ url_for('users.logout') }}">Log out</a>
            {% if current_user.role == "Admin" %}
            <a class="btn btn-md btn-outline-secondary float-lg-right mr-2 hide" href="{{ url_for('pictures.new_photo') }}">Add
                Client Photo</a>
            <a class="btn btn-md btn-outline-secondary float-lg-right mr-2 hide" href="{{ url_for('main.new_photoshoot') }}">Add
                Photoshoot</a>
            <a class="btn btn-md btn-outline-secondary float-lg-right mr-2 hide" href="{{ url_for('main.new_picture') }}">Add
                Photoshoot Photo</a>
            {% endif %}
            <h2 id="jstest">{{ current_user.username }}</h2>
            <p class="text-secondary">{{ current_user.email }}</p>
            <a class="btn btn-md btn-outline-secondary" href="{{ url_for('users.edit') }}">Edit information</a>
        </div>
    </div>
    <hr class=mt-4>
    {% if current_user.role == "Client" %}
    <div>
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <hr class=my-4>
                <div class="form-group">
                    {{ search_form.search_query.label(class="form-control-label") }} {% if
                    search_form.search_query.errors %} {{ search_form.search_query(class="form-control
                    form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in search_form.search_query.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %} {{ search_form.search_query(class="form-control form-control-lg") }} {% endif %}
                </div>
            </fieldset>
        </form>
    </div>
    {% endif %} {% if current_user.role == "Admin" %}
    <div class="todo">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ todo_form.todo.label(class="form-control-label") }} {% if todo_form.todo.errors %} {{
                    todo_form.todo(class="form-control
                    form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in todo_form.todo.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                    {% else %} {{ todo_form.todo(class="form-control form-control-lg") }} {% endif %}
                </div>
            </fieldset>
        </form>
        <table class="table table-hover bigger-text">
            <thead>
                <tr class="bg-secondary">
                    <th scope="col" style="width:2%">#</th>
                    <th scope="col">Todo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for i, todo in enumerate(todos) %}
                <tr>
                    <th scope="row">{{ i+1 }}</th>
                    <td>{{ todo }}</td>
                    <td><button id={{ids[i]}} class="btn btn-md btn-outline-secondary float-right" onclick="buttonClick(event)">Done</button></td>
                </tr>
                {% endfor %} {% else %}
            </tbody>
        </table>
        <div id="spinnerdiv" class="row spinner mb-4" style="position:relative;"></div>
        <div class="row">
            {% for count, img in enumerate(photo) %} {% if count % 4 == 0 %}
            <div class="w-100"></div>
            {% endif %}
            <div class="col-sm mb-4">
                <a href="{{ url_for('pictures.get_js_data', jsdata=img) }}">
                    <img onload="spinner()" src="https://s3.eu-west-2.amazonaws.com/shanna-rebekah-photography/{{ img }}.JPG" alt="Account Picture"
                        class="img-fluid rounded">
                </a>
            </div>
            {%endfor%}
        </div>
        {% endif %}
    </div>

    <script type="text/javascript">
        function buttonClick(e) {
            var count = e.target.id;
            let url = (`/account/done/${count}`).toLowerCase();
            window.location.href = url;
        };
        
        function spinner() {
            $('#spinnerdiv').removeClass('spinner mb-4');
        };
        
    </script> {% endblock %}