{% extends 'layout.html' %}
{% block head %}
    <title>Admin Page</title>
    <meta name="Description" content="Admin page for Shanna Rebekah Photography">
    <script>
        window.REACT_APP_USER_DATA = {{ users }}
    </script>
{% endblock %}
{% block body %}
<div id="reactroot" class="container-fluid"></div> 


<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script src="{{ url_for('static',filename='js/test.js') }}" type="text/babel"></script>
{% endblock %}