body {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    padding-top: 6rem;
}

p {
    font-size: 1.3rem;
}
.caption {
    position: absolute;
} 

@media (max-width: 575.98px) {
    #navbar-media {
        font-size: 1.5rem;
    }
}