{% extends 'layout.html' %} {% block body %}
<div class="container-fluid">
    <div class="row text-center regular-width align-items-center mb-4">
        <div class="col-md-6">
            <h1 id="header1" class="display-5">Disguise</h1>
            <hr class="mt-1 mb-4">
            <p class="font-weight-normal text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta convallis arcu quis aliquam. Proin lacus magna,
                laoreet in elit rutrum, aliquet dignissim ligula. Vivamus at neque mollis, lacinia nunc nec, porttitor neque. Quisque
                luctus eros et fermentum malesuada. In eu maximus erat. Aliquam in egestas neque. Mauris vel massa velit. Etiam ultrices
                vel risus et posuere. Suspendisse eu suscipit enim. In hac habitasse platea dictumst. Mauris ac orci lacus. Curabitur</p>
            <button id="1" class="btn btn-md btn-outline-secondary float-right mb-2" onclick="buttonClick(event)">View more</button>
        </div>
        <div class="col-md-3">
            <img src="{{url_for('static',filename='Portraits/1Disguise/jade1.JPG')}}" class="img-fluid rounded hoverable mb-3" alt="Responsive image">
        </div>
        <div class="col-md-3">
            <img src="{{url_for('static',filename='Portraits/1Disguise/jade2.JPG')}}" class="img-fluid rounded hoverable mb-3" alt="Responsive image">
        </div>
    </div>
    <div class="row text-center regular-width align-items-center mb-4">
        <div class="col-md-6 order-lg-last">
            <h1 id="header2" class="display-5">Something</h1>
            <hr class="mt-1 mb-4">
            <p class="font-weight-normal text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta convallis arcu quis aliquam. Proin lacus magna,
                laoreet in elit rutrum, aliquet dignissim ligula. Vivamus at neque mollis, lacinia nunc nec, porttitor neque. Quisque
                luctus eros et fermentum malesuada. In eu maximus erat. Aliquam in egestas neque. Mauris vel massa velit. Etiam ultrices
                vel risus et posuere. Suspendisse eu suscipit enim. In hac habitasse platea dictumst. Mauris ac orci lacus. Curabitur</p>
            <button id="2" class="btn btn-md btn-outline-secondary float-right mb-2" onclick="buttonClick(event)">View more</button>
        </div>
        <div class="col-md-3">
            <img src="{{url_for('static',filename='Portraits/2/jade1.JPG')}}" class="img-fluid rounded hoverable mb-3" alt="Responsive image">
        </div>
        <div class="col-md-3">
            <img src="{{url_for('static',filename='Portraits/2/jade2.JPG')}}" class="img-fluid rounded hoverable mb-3" alt="Responsive image">
        </div>
    </div>
    <div class="row text-center regular-width align-items-center mb-4">
        <div class="col-md-6">
            <h1 id="header3" class="display-5">Something Else</h1>
            <hr class="mt-1 mb-4">
            <p class="font-weight-normal text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta convallis arcu quis aliquam. Proin lacus magna,
                laoreet in elit rutrum, aliquet dignissim ligula. Vivamus at neque mollis, lacinia nunc nec, porttitor neque. Quisque
                luctus eros et fermentum malesuada. In eu maximus erat. Aliquam in egestas neque. Mauris vel massa velit. Etiam ultrices
                vel risus et posuere. Suspendisse eu suscipit enim. In hac habitasse platea dictumst. Mauris ac orci lacus. Curabitur</p>
            <button id="3" class="btn btn-md btn-outline-secondary float-right mb-2" onclick="buttonClick(event)">View more</button>
        </div>
        <div class="col-md-3">
            <img src="{{url_for('static',filename='Portraits/3/jade1.JPG')}}" class="img-fluid rounded hoverable mb-3" alt="Responsive image">
        </div>
        <div class="col-md-3">
            <img src="{{url_for('static',filename='Portraits/3/jade3.JPG')}}" class="img-fluid rounded hoverable mb-3" alt="Responsive image">
        </div>
    </div>
    <div class="row text-center regular-width align-items-center mb-4">
        <div class="col-md-6 order-lg-last">
            <h1 id="header4" class="display-5">Frustration</h1>
            <hr class="mt-1 mb-4">
            <p class="font-weight-normal text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta convallis arcu quis aliquam. Proin lacus magna,
                laoreet in elit rutrum, aliquet dignissim ligula. Vivamus at neque mollis, lacinia nunc nec, porttitor neque. Quisque
                luctus eros et fermentum malesuada. In eu maximus erat. Aliquam in egestas neque. Mauris vel massa velit. Etiam ultrices
                vel risus et posuere. Suspendisse eu suscipit enim. In hac habitasse platea dictumst. Mauris ac orci lacus. Curabitur</p>
            <button id="4" class="btn btn-md btn-outline-secondary float-right mb-2" onclick="buttonClick(event)">View more</button>
        </div>
        <div class="col-md-3">
            <img src="{{url_for('static',filename='Portraits/4Frustration/Frustration1.JPG')}}" class="img-fluid rounded hoverable mb-3" alt="Responsive image">
        </div>
        <div class="col-md-3">
            <img src="{{url_for('static',filename='Portraits/4Frustration/Frustration2.JPG')}}" class="img-fluid rounded hoverable mb-3" alt="Responsive image">
        </div>
    </div>
    <div class="row text-center regular-width align-items-center mb-4">
        <div class="col-md-6">
            <h1 id="header5" class="display-5">Golden Lines</h1>
            <hr class="mt-1 mb-4">
            <p class="font-weight-normal text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta convallis arcu quis aliquam. Proin lacus magna,
                laoreet in elit rutrum, aliquet dignissim ligula. Vivamus at neque mollis, lacinia nunc nec, porttitor neque. Quisque
                luctus eros et fermentum malesuada. In eu maximus erat. Aliquam in egestas neque. Mauris vel massa velit. Etiam ultrices
                vel risus et posuere. Suspendisse eu suscipit enim. In hac habitasse platea dictumst. Mauris ac orci lacus. Curabitur</p>
            <button id="5" class="btn btn-md btn-outline-secondary float-right mb-2" onclick="buttonClick(event)">View more</button>
        </div>
        <div class="col-md-3">
            <img src="{{url_for('static',filename='Portraits/Golden_Lines/OTHERPHOTO.JPG')}}" class="img-fluid rounded hoverable mb-3" alt="Responsive image">
        </div>
        <div class="col-md-3">
            <img src="{{url_for('static',filename='Portraits/Golden_Lines/OTHERPHOTO2.JPG')}}" class="img-fluid rounded hoverable mb-3" alt="Responsive image">
        </div>
    </div>
    <div class="row text-center regular-width align-items-center mb-4">
        <div class="col-md-6 order-lg-last">
            <h1 id="header6" class="display-5">Innocence</h1>
            <hr class="mt-1 mb-4">
            <p class="font-weight-normal text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta convallis arcu quis aliquam. Proin lacus magna,
                laoreet in elit rutrum, aliquet dignissim ligula. Vivamus at neque mollis, lacinia nunc nec, porttitor neque. Quisque
                luctus eros et fermentum malesuada. In eu maximus erat. Aliquam in egestas neque. Mauris vel massa velit. Etiam ultrices
                vel risus et posuere. Suspendisse eu suscipit enim. In hac habitasse platea dictumst. Mauris ac orci lacus. Curabitur</p>
            <button id="6" class="btn btn-md btn-outline-secondary float-right mb-2" onclick="buttonClick(event)">View more</button>
        </div>
        <div class="col-md-3">
            <img src="{{url_for('static',filename='Portraits/Innocence/1.JPG')}}" class="img-fluid rounded hoverable mb-3" alt="Responsive image">
        </div>
        <div class="col-md-3">
            <img src="{{url_for('static',filename='Portraits/Innocence/2.JPG')}}" class="img-fluid rounded hoverable mb-3" alt="Responsive image">
        </div>
    </div>
    <div class="row text-center regular-width align-items-center mb-4">
        <div class="col-md-6">
            <h1 id="header7" class="display-5">Something Else</h1>
            <hr class="mt-1 mb-4">
            <p class="font-weight-normal text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta convallis arcu quis aliquam. Proin lacus magna,
                laoreet in elit rutrum, aliquet dignissim ligula. Vivamus at neque mollis, lacinia nunc nec, porttitor neque. Quisque
                luctus eros et fermentum malesuada. In eu maximus erat. Aliquam in egestas neque. Mauris vel massa velit. Etiam ultrices
                vel risus et posuere. Suspendisse eu suscipit enim. In hac habitasse platea dictumst. Mauris ac orci lacus. Curabitur</p>
            <button id="7" class="btn btn-md btn-outline-secondary float-right mb-2" onclick="buttonClick(event)">View more</button>
        </div>
        <div class="col-md-3">
            <img src="{{url_for('static',filename='Portraits/New_folder(3)/1.JPG')}}" class="img-fluid rounded hoverable mb-3" alt="Responsive image">
        </div>
        <div class="col-md-3">
            <img src="{{url_for('static',filename='Portraits/New_folder(3)/2.JPG')}}" class="img-fluid rounded hoverable mb-3" alt="Responsive image">
        </div>
    </div>


<script type="text/javascript">
    function buttonClick(e) {
        var count = e.target.id;
        var header = $('#header'+count).html();
        let url = (`/portraits/${header}`).toLowerCase();
        console.log(url)
        window.location.href = url;
        // e.preventDefault();  //This is needed so the page does not reload and doesnt re-direct, idk why though
    };
</script>

{% endblock %}