{% extends 'layout.html' %} {% block body %}
<div class="container-fluid">
        <div class="row text-center regular-width align-items-center mb-4">
            <div class="col-12">
                <h1 class="display-5">Something</h1>
                <hr class="mt-1 mb-3">
                <p class="font-weight-normal text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta convallis arcu quis aliquam. Proin lacus magna,
                        laoreet in elit rutrum, aliquet dignissim ligula. Vivamus at neque mollis, lacinia nunc nec, porttitor neque. Quisque
                        luctus eros et fermentum malesuada. In eu maximus erat. Aliquam in egestas neque. Mauris vel massa velit. Etiam ultrices
                        vel risus et posuere. Suspendisse eu suscipit enim. In hac habitasse platea dictumst. Mauris ac orci lacus. Curabitur</p>
                <a class="btn btn-md btn-outline-secondary float-right" href="{{ url_for('main.portraits') }}">Go Back</a>        
            </div>
        </div>
        <div class="row regular-width ">
            <div class="col-sm-6">
                <img src="{{url_for('static',filename='Portraits/2/jade1.JPG')}}" class="img-fluid rounded hoverable mb-4" alt="Responsive image">
            </div>
            <div class="col-sm-6">
                <img src="{{url_for('static',filename='Portraits/2/jade2.JPG')}}" class="img-fluid rounded hoverable mb-4" alt="Responsive image">
            </div>
            <div class="col-sm-6">
                <img src="{{url_for('static',filename='Portraits/2/jade3.JPG')}}" class="img-fluid rounded hoverable mb-4" alt="Responsive image">
            </div>
            <div class="col-sm-6">
                <img src="{{url_for('static',filename='Portraits/2/jade4.JPG')}}" class="img-fluid rounded hoverable mb-4" alt="Responsive image">
            </div>
            <div class="col-12">
                <a class="btn btn-md btn-outline-secondary float-right mb-2" href="#">Go To Top</a>
            </div>
        </div>

{% endblock %}