@import url("https://fonts.googleapis.com/css?family=Amatic+SC");

body {
    font-family: "Amatic SC", cursive;
    font-weight: 700;
    padding-top: 6rem;
}

p {
    font-size: 1.3rem;
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.caption h1 {
    color: white;
    font-size: 4.4rem;
}

.test:hover  .caption {
    display: block;
}
.test:hover {
    background-color: white;
    opacity: .8;
}
.test {
    position: relative;
    transition: .3s;
}

.profile-picture {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.small-width {
    width: 75%;
    margin: 0 auto;
}

.small-width hr {
    border-top: 2px solid grey;
    width: 100%;
}

.regular-width {
    width: 100%;
    margin: 0 auto;
}

.regular-width hr {
    border-top: 2px solid grey;
    width: 100%;
}

.width-90 {
    width: 90%;
    margin: 0 auto;
}

.btn-center {
    width: 100%;
    margin: 0 auto;
}

.bigger-text {
    font-size: 1.2rem;
}

.smaller-text {
    font-size: 0.9rem;
}

.xs-width {
    max-width: 25%;
}

.s-width {
    max-width: 50%;
}

.icons {
    font-size: 1.4rem;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

@media (max-width: 767.98px) {
    .hide {
        display: none;
    }
    
    body {
        padding-top: 5rem;
    }

    .small-width {
        width: 100%;
    }
    
    .caption h1 {
        color: white;
        font-size: 2.8rem;
    }

}


@media (max-width: 575.98px) {
    #navbar-media {
        font-size: 1.5rem;
    }
}


@keyframes spinner {
    from {transform:rotate(0deg);}
    to {transform: rotate(360deg);}
  }
   

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #333;
    animation: spinner .6s linear infinite;
}