@import url("http://fonts.googleapis.com/css?family=Amatic+SC");

body {
    font-family: "Amatic SC", cursive;
    font-weight: 700;
    padding-top: 6rem;
}

p {
    font-size: 1.3rem;
}

.caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.caption h1 {
    color: white;
    font-size: 4.4rem;
}

.test:hover  .caption {
    display: block;
}
.test:hover {
    background-color: white;
    opacity: .8;
}
.test {
    position: relative;
    transition: .3s;
}

.profile-picture {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.small-width {
    width: 75%;
    margin: 0 auto;
}

.small-width hr {
    border-top: 2px solid grey;
    width: 100%;
}

.regular-width {
    width: 100%;
    margin: 0 auto;
}

.regular-width hr {
    border-top: 2px solid grey;
    width: 100%;
}

.btn-center {
    width: 100%;
    margin: 0 auto;
}

.bigger-text {
    font-size: 1.2rem;
}

.smaller-text {
    font-size: 0.9rem;
}

.xs-width {
    max-width: 25%;
}

.s-width {
    max-width: 50%;
}

.icons {
    font-size: 1.4rem;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

@media (max-width: 767.98px) {
    .hide {
        display: none;
    }
    
    body {
        padding-top: 5rem;
    }

    .small-width {
        width: 100%;
    }
}


@media (max-width: 575.98px) {
    #navbar-media {
        font-size: 1.5rem;
    }
}

/*
Loading thing
*/
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }

              