{% extends 'layout.html' %} {% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm img-hover">
            <a href="/double-exposure">
                <img src="{{url_for('static',filename='YellowDoor.JPG')}}" class="img-fluid rounded hoverable" alt="Responsive image">
            </a>
            <br></br>
        </div>
        <div class="col-sm">
            <img src="{{url_for('static',filename='Books2.JPG')}}" class="img-fluid rounded" alt="Responsive image">
            <br></br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <img src="{{url_for('static',filename='Portrait3.JPG')}}" class="img-fluid rounded" alt="Responsive image">
            <br></br>
        </div>
        <div class="col-sm">
            <img src="{{url_for('static',filename='Eggs1.JPG')}}" class="img-fluid rounded" alt="Responsive image">
            <br></br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <img src="{{url_for('static',filename='BlackWhitePortrait1.JPG')}}" class="img-fluid rounded" alt="Responsive image">
            <br></br>
        </div>
        <div class="col-sm" id="last">
            <img src="{{url_for('static',filename='Charlotte1.JPG')}}" class="img-fluid rounded" alt="Responsive image">
        </div>
    </div>
</div>
{% endblock %}