{% extends 'layout.html' %} {% block body %}
<div class="container-fluid">
    {% for page in pages %}
    <div class="row text-center regular-width align-items-center mb-4">
        {% if (pages.index(page)) % 2 == 0 %}
        <div class="col-md-6">
            {% else %}
            <div class="col-md-6 order-lg-last">
                {% endif %}
                <h1 class="display-5">{{ page.page_name }}</h1>
                <hr class="mt-1 mb-4">
                <p class="font-weight-normal text-justify">{{ page.page_text }}</p>
                <a class="btn btn-md btn-outline-secondary float-right mb-2" href="{{ url_for('main.portraits_photoshoot', photoshoot=page.page_name)}}">View more</a>
            </div>
            {% for image in images_array %}
            {% for i in image %}
            {% if i.page_id==page.id %}
            <div class="col-md-3">
                <img src="https://s3.eu-west-2.amazonaws.com/shanna-rebekah-photography/{{ i.photo_name }}.JPG" class="img-fluid rounded hoverable mb-3"alt="Responsive image">
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
        {% endfor %}
        {% endblock %}