{% extends 'layout.html' %} 
{% block head %}
    <title>{{ page.page_category.title() }} │ {{ page.page_name.title() }}</title>
    <meta name="Description" content="{{ page.page_text }}">
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row text-center regular-width align-items-center mb-4">
        <div class="col-12">
            <h1 class="display-5">{{ page.page_name.title() }}</h1>
            <hr class="mt-1 mb-3">
            <p class="font-weight-normal text-justify">{{ page.page_text }}</p>
            <a class="btn btn-md btn-outline-secondary float-right mb-2" onclick="history.back(-1)">Go Back</a>
        </div>
    </div>
    <div id="spinnerdiv" class="row spinner mb-4" style="position:relative;"></div>
    <div class="row">
        {% for count, img in enumerate(photo) %} {% if count % 4 == 0 %}
        <div class="w-100"></div>
        {% endif %}
        <div class="col-md mb-4">
            <img id="img" src="https://s3.eu-west-2.amazonaws.com/shanna-rebekah-photography/{{ img }}.JPG" alt="Account Picture" class="img-fluid rounded">
        </div>
        {%endfor%}
    </div>

<script>
    var img = document.getElementById('img');
    if(img.complete){
        spinner()
    };
    function spinner() {
        $('#spinnerdiv').removeClass('spinner mb-4');
    };
</script>

{% endblock %}