<nav class="navbar fixed-top navbar-expand-sm navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <span class="h1" id="navbar-media">Shanna Rebekah Photography</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link h4" href="{{ url_for('main.index') }}"><i class="fas fa-home icons"></i> Home</a>
                <a class="nav-item nav-link h4" href="{{ url_for('main.about') }}"><i class="far fa-address-card icons"></i> About</a>
                <a class="nav-item nav-link h4" href="{{ url_for('main.contact') }}"><i class="far fa-address-book icons"></i> Contact</a>
            </div>
        </div>
    </div>
</nav>