{% extends 'layout.html' %}
{% block head %}
    <title>About</title>
    <meta name="Description" content="Information and FAQs about me, a photographer based in the Frome, Bath, Bristol area. Specialised in portraits and wedding photography.">
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row text-center small-width align-items-center">
        <div class="col-6">
            <img class="rounded-circle profile-picture float-right" src="{{  url_for('static', filename='profile_pictures/shanna.JPG')  }}">
        </div>
        <div class="col-6">
            <h1 class="display-4 float-left">About</h1>
        </div>
        <div class="mb-4">
            <hr class="mt-1 mb-4">
            <p class="font-weight-normal text-justify">Hi I am Shanna Williamson. I am currently an amateur photographer, but I aspire to become a proffesional photographer in the next few years. Photography for me has helped me understand my present, and resulted in me wanting to capture the moments in my life. Photography has made me look at life in a creative way, showing that art is all around us, it connotes the wonder and delight in the struggles and success, in the peace and chaos. As well as this, I have found that society sees the world through ugly eyes, but I wanted to show society in delightful eyes, yet still show the truth in our world. I want the moments I capture, to be memories you can keep forever. I have been studying photography throughout GCSE, achieving top grades, and then moving onto a higher level of education to enhace my photography skills. 
            </p>
        </div>
    </div>
    <div class="row text-center small-width align-items-center">
        <div class="col-12">
            <h1 class="display-4">FAQ</h1>
        </div>
        <hr class="mt-1 mb-4">
    </div>
        <div class="accordion small-width mb-4" id="FAQS">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-outline-secondary btn-center bigger-text" type="button" data-toggle="collapse" data-target="#FAQ1" aria-expanded="false" aria-controls="FAQ1">FAQ #1</button>
                    </h5>
                </div>
                <div id="FAQ1" class="collapse" aria-labelledby="headingOne" data-parent="#FAQS">
                    <div class="card-body bigger-text">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-outline-secondary btn-center bigger-text" type="button" data-toggle="collapse" data-target="#FAQ2" aria-expanded="false" aria-controls="FAQ2">FAQ #2</button>
                    </h5>
                </div>
                <div id="FAQ2" class="collapse" aria-labelledby="headingOne" data-parent="#FAQS">
                    <div class="card-body bigger-text">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-outline-secondary btn-center bigger-text" type="button" data-toggle="collapse" data-target="#FAQ3" aria-expanded="false" aria-controls="FAQ3">FAQ #3</button>
                    </h5>
                </div>
                <div id="FAQ3" class="collapse" aria-labelledby="headingOne" data-parent="#FAQS">
                    <div class="card-body bigger-text">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-outline-secondary btn-center bigger-text" type="button" data-toggle="collapse" data-target="#FAQ4" aria-expanded="false" aria-controls="FAQ4">FAQ #4</button>
                    </h5>
                </div>
                <div id="FAQ4" class="collapse" aria-labelledby="headingOne" data-parent="#FAQS">
                    <div class="card-body bigger-text">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>

    <div class="row text-center small-width align-items-center mt-4">
        <div class="col-12">
            <h1 class="display-4">Prices</h1>
        </div>
        <hr class="mt-1 mb-4">
        <div class="col-12">
            <p class="font-weight-normal">For prices please contact me</p>
            <a class="mb-3 btn btn-md btn-outline-secondary" href="{{ url_for('main.contact') }}">Contact Me</a>
        </div>
        
    </div>


{% endblock %}