{% extends 'layout.html' %}
{% block head %}
    <title>About</title>
    <meta name="Description" content="Information and FAQs about me, a photographer based in the Frome, Bath, Bristol area. Specialised in portraits and wedding photography.">
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row text-center small-width align-items-center">
        <div class="col-6">
            <img class="rounded-circle profile-picture float-right" src="{{  url_for('static', filename='profile_pictures/shanna.JPG')  }}">
        </div>
        <div class="col-6">
            <h1 class="display-4 float-left">About</h1>
        </div>
        <div class="mb-4">
            <hr class="mt-1 mb-4">
            <p class="font-weight-normal text-justify">Hi I am Shanna Williamson. I am currently an amateur photographer, but I aspire to become a proffesional photographer in the next few years. Photography for me has helped me understand my present, and resulted in me wanting to capture the moments in my life. Photography has made me look at life in a creative way, showing that art is all around us, it connotes the wonder and delight in the struggles and success, in the peace and chaos. As well as this, I have found that society sees the world through ugly eyes, but I wanted to show society in delightful eyes, yet still show the truth in our world. I want the moments I capture, to be memories you can keep forever. I have been studying photography throughout GCSE, achieving top grades, and then moving onto a higher level of education to enhace my photography skills. 
            </p>
        </div>
    </div>
    <div class="row text-center small-width align-items-center">
        <div class="col-12">
            <h1 class="display-4">FAQ</h1>
        </div>
        <hr class="mt-1 mb-4">
    </div>
        <div class="accordion small-width mb-4" id="FAQS">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-outline-secondary btn-center bigger-text" type="button" data-toggle="collapse" data-target="#FAQ1" aria-expanded="false" aria-controls="FAQ1">What is your pricing?</button>
                    </h5>
                </div>
                <div id="FAQ1" class="collapse" aria-labelledby="headingOne" data-parent="#FAQS">
                    <div class="card-body bigger-text">
                        My pricing will depend on the photoshoot wanted, how many hours this will take and the editing required. As I am an amateur photographer my rates will be lower than professional. Please contact me for a definite price.<br>Email: shannarebekahphotography@gmail.com<br>Phone: 07873723310
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-outline-secondary btn-center bigger-text" type="button" data-toggle="collapse" data-target="#FAQ2" aria-expanded="false" aria-controls="FAQ2">How many photos will I recieve?</button>
                    </h5>
                </div>
                <div id="FAQ2" class="collapse" aria-labelledby="headingOne" data-parent="#FAQS">
                    <div class="card-body bigger-text">
                        The number of photos will depend on the photos that you would like me to take. If you would like to get in contact with me to ask about image quantity do not hesitate. Hearing about your wants as a client will help me provide you with a more detailed explanation and estimate.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-outline-secondary btn-center bigger-text" type="button" data-toggle="collapse" data-target="#FAQ3" aria-expanded="false" aria-controls="FAQ3">How many photos will you edit?</button>
                    </h5>
                </div>
                <div id="FAQ3" class="collapse" aria-labelledby="headingOne" data-parent="#FAQS">
                    <div class="card-body bigger-text">
                        I will edit all of the photos presented to you. Each will be edited individually depending on the photo.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-outline-secondary btn-center bigger-text" type="button" data-toggle="collapse" data-target="#FAQ4" aria-expanded="false" aria-controls="FAQ4">Can photos be delivered in both colour and black & white?</button>
                    </h5>
                </div>
                <div id="FAQ4" class="collapse" aria-labelledby="headingOne" data-parent="#FAQS">
                    <div class="card-body bigger-text">
                        Yes! All of the photos taken in colour will be edited into black & white. This way you can choose between the two.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-outline-secondary btn-center bigger-text" type="button" data-toggle="collapse" data-target="#FAQ5" aria-expanded="false" aria-controls="FAQ5">What are you able to photograph?</button>
                    </h5>
                </div>
                <div id="FAQ5" class="collapse" aria-labelledby="headingOne" data-parent="#FAQS">
                    <div class="card-body bigger-text">
                        I am a skilled photographer and have experience in lots of aspects of photography from weddings, family photoshoots, fashion, studio based photography and so on. Although my passion is portraits, I love to get creative and combine this with different aspects of art such as mixed media.
                    </div>
                </div>
            </div>
        </div>

    <div class="row text-center small-width align-items-center mt-4">
        <div class="col-12">
            <h1 class="display-4">Prices</h1>
        </div>
        <hr class="mt-1 mb-4">
        <div class="col-12">
            <p class="font-weight-normal">For prices please contact me</p>
            <a class="mb-3 btn btn-md btn-outline-secondary" href="{{ url_for('main.contact') }}">Contact Me</a>
        </div>
        
    </div>


{% endblock %}