{% extends 'layout.html' %} {% block body %}
<div class="container-fluid">
    <div class="row text-center small-width align-items-center">
        <div class="col-6">
            <img class="rounded-circle profile-picture float-right" src="{{  url_for('static', filename='Profile pictures/shanna.jpg')  }}">
        </div>
        <div class="col-6">
            <h1 class="display-4 float-left">About</h1>
        </div>
        <div class="mb-4">
            <hr class="mt-1 mb-4">
            <p class="font-weight-normal text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam porta convallis arcu quis aliquam. Proin lacus magna,
                laoreet in elit rutrum, aliquet dignissim ligula. Vivamus at neque mollis, lacinia nunc nec, porttitor neque. Quisque
                luctus eros et fermentum malesuada. In eu maximus erat. Aliquam in egestas neque. Mauris vel massa velit. Etiam ultrices
                vel risus et posuere. Suspendisse eu suscipit enim. In hac habitasse platea dictumst. Mauris ac orci lacus. Curabitur
                a venenatis purus. Maecenas lacinia lectus ut mattis ultricies. Sed nibh libero, condimentum vel massa finibus, gravida
                imperdiet urna. Aenean non risus pharetra erat tincidunt accumsan. Integer faucibus odio ut mollis egestas. Vestibulum
                aliquam eros id metus aliquam dignissim. Aliquam enim tortor, malesuada in suscipit at, pellentesque a sem. Vivamus
                vitae consequat purus. Curabitur lacinia id ex non vehicula. Curabitur pulvinar orci et magna auctor pharetra. Sed
                congue risus quis lacinia ornare. Quisque ac sem non sapien hendrerit ornare dictum eget justo. Aenean interdum tortor
                sed imperdiet dignissim. Aliquam condimentum lacus ac lorem eleifend, eu lobortis velit egestas.</p>
        </div>
    </div>
    <div class="row text-center small-width align-items-center">
        <div class="col-12">
            <h1 class="display-4">FAQ</h1>
        </div>
        <hr class="mt-1 mb-4">
    </div>
        <div class="accordion small-width mb-4" id="FAQS">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-outline-secondary btn-center bigger-text" type="button" data-toggle="collapse" data-target="#FAQ1" aria-expanded="false" aria-controls="FAQ1">FAQ #1</button>
                    </h5>
                </div>
                <div id="FAQ1" class="collapse" aria-labelledby="headingOne" data-parent="#FAQS">
                    <div class="card-body bigger-text">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-outline-secondary btn-center bigger-text" type="button" data-toggle="collapse" data-target="#FAQ2" aria-expanded="false" aria-controls="FAQ2">FAQ #2</button>
                    </h5>
                </div>
                <div id="FAQ2" class="collapse" aria-labelledby="headingOne" data-parent="#FAQS">
                    <div class="card-body bigger-text">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-outline-secondary btn-center bigger-text" type="button" data-toggle="collapse" data-target="#FAQ3" aria-expanded="false" aria-controls="FAQ3">FAQ #3</button>
                    </h5>
                </div>
                <div id="FAQ3" class="collapse" aria-labelledby="headingOne" data-parent="#FAQS">
                    <div class="card-body bigger-text">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-outline-secondary btn-center bigger-text" type="button" data-toggle="collapse" data-target="#FAQ4" aria-expanded="false" aria-controls="FAQ4">FAQ #4</button>
                    </h5>
                </div>
                <div id="FAQ4" class="collapse" aria-labelledby="headingOne" data-parent="#FAQS">
                    <div class="card-body bigger-text">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>

    <div class="row text-center small-width align-items-center mt-4">
        <div class="col-12">
            <h1 class="display-4">Prices</h1>
        </div>
        <hr class="mt-1 mb-4">
        <div>
            <p class="font-weight-normal text-justify">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa sunt, provident ex rerum voluptatibus doloremque itaque quas quia exercitationem ratione aliquid. Expedita recusandae aut natus quas enim perferendis sint! Voluptatum.</p>
        </div>
        <table class="table bigger-text">
            <thead class="thead bg-secondary">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Full Day</th>
                    <th scope="col">Half Day</th>
                    <th scope="col">Per Hour</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">Wedding</th>
                    <td>£200</td>
                    <td>£100</td>
                    <td>£100</td>
                </tr>
                <tr>
                    <th scope="row">Portraits</th>
                    <td>£200</td>
                    <td>£100</td>
                    <td>£100</td>
                </tr>
                <tr>
                    <th scope="row">Landscape</th>
                    <td>£200</td>
                    <td>£100</td>
                    <td>£100</td>
                </tr>
            </tbody>
        </table>
    </div>


{% endblock %}