{% extends 'layout.html' %} {% block body %}

<div class="container-fluid">
    <div class="media">
        <img class="rounded-circle profile-picture" src="{{  image  }}">
        <div class="media-body">
            <a class="btn btn-lg btn-outline-danger float-right" href="{{ url_for('logout') }}">Log out</a>
            <h2>{{ current_user.username }}</h2>
            <p class="text-secondary">{{ current_user.email }}</p>
            <a class="btn btn-lg btn-outline-primary" href="{{ url_for('edit') }}">Edit information</a>
        </div>
    </div>
</div>

{% endblock %}