{% extends 'layout.html' %}
{% block head %}
<title>Contact</title>
<meta name="Description" content="Contact me at shannarebekahphotography@gmail.com for all enquiries or more information.">
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row small-width">
        <div class="col-sm text-center">
            <h1 class="display-4">Contact</h1>
            <hr class=my-2>
            <div class="list-group pt-1">
                <div class="list-group-item list-group-item-action flex-column">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Email</h5>
                    </div>
                    <p class="mb-1">shannarebekahphotography@gmail.com</p>
                </div>
                <div class="list-group-item list-group-item-action flex-column">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Phone</h5>
                    </div>
                    <p class="mb-1">07873723310</p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <form method="POST" action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <h1 class="display-4 text-center">Email Me!</h1>
                    <hr class=my-2>
                    <div class="form-group">
                        {{ form.fname.label(class="form-control-label") }}
                        {% if form.fname.errors %}
                        {{ form.fname(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.fname.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.fname(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.sname.label(class="form-control-label") }}
                        {% if form.sname.errors %}
                        {{ form.sname(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.sname.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.sname(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.title.label(class="form-control-label") }}
                        {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.body.label(class="form-control-label") }}
                        {% if form.body.errors %}
                        {{ form.body(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.body.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.body(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-lg btn-outline-secondary") }}
                </div>
            </form>
        </div>
    </div>

    {% endblock %}