{% extends 'layout.html' %} 
{% block head %}
    <title>Shanna Rebekah Photography</title>
    <meta name="Description" content="Shanna Rebekah Photography - A photographer based in the Frome, Bath, Bristol area. Specialised in portraits and wedding photography.">
{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm test mb-4">
            <a href="{{ url_for('main.category', page='portraits') }}">
                <img src="{{url_for('static',filename='Portraits/1Disguise/jade2-small.JPG')}}" srcset="{{url_for('static',filename='Portraits/1Disguise/jade2-small.JPG')}} 602w ,{{url_for('static',filename='Portraits/1Disguise/jade2-medium.JPG')}} 940w, {{url_for('static',filename='Portraits/1Disguise/jade2-large.JPG')}} 1580w" class="img-fluid rounded hoverable regular-width" alt="Responsive image">
                <div class="caption rounded bg-secondary px-2">
                    <h1 class="text-center">Portraits</h1>
                </div>
            </a>
        </div>
        <div class="col-sm test mb-4">
            <a href="{{ url_for('main.category', page='wedding') }}">
                <img src="{{url_for('static',filename='Wedding/Wedding1/weddingmain-small.JPG')}}" srcset="{{url_for('static',filename='Wedding/Wedding1/weddingmain-small.JPG')}} 601w ,{{url_for('static',filename='Wedding/Wedding1/weddingmain-medium.JPG')}} 939w, {{url_for('static',filename='Wedding/Wedding1/weddingmain-large.JPG')}} 1377w" class="img-fluid rounded hoverable regular-width" alt="Responsive image">
                <div class="caption rounded bg-secondary px-2">
                    <h1 class="text-center">Wedding</h1>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm test mb-4">
            <a href="{{ url_for('main.category', page='still life') }}">
                <img src="{{url_for('static',filename='Still_Life/Coffee_Cigarettes/index-small.JPG')}}" srcset="{{url_for('static',filename='Still_Life/Coffee_Cigarettes/index-small.JPG')}} 601w ,{{url_for('static',filename='Still_Life/Coffee_Cigarettes/index-medium.JPG')}} 939w, {{url_for('static',filename='Still_Life/Coffee_Cigarettes/index-large.JPG')}} 1377w, {{url_for('static',filename='Still_Life/Coffee_Cigarettes/index-xl.JPG')}} 2066w" class="img-fluid rounded hoverable regular-width" alt="Responsive image">
                <div class="caption rounded bg-secondary px-2">
                    <h1 class="text-center">Still Life</h1>
                </div>
            </a>
        </div>
        <div class="col-sm test mb-4">
            <a href="{{ url_for('main.category', page='the beauty of the struggles of society') }}">
                <img src="{{url_for('static',filename='Still_Life/Roses_Cigarettes/index-small.JPG')}}" srcset="{{url_for('static',filename='Still_Life/Roses_Cigarettes/index-small.JPG')}} 601w ,{{url_for('static',filename='Still_Life/Roses_Cigarettes/index-medium.JPG')}} 939w, {{url_for('static',filename='Still_Life/Roses_Cigarettes/index-large.JPG')}} 1377w, {{url_for('static',filename='Still_Life/Roses_Cigarettes/index-xl.JPG')}} 2066w" class="img-fluid rounded hoverable regular-width" alt="Responsive image">
                <div class="caption rounded bg-secondary px-2">
                    <h1 class="text-center">The Beauty of the Struggles of Society</h1>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm test mb-4">
            <a href="{{ url_for('main.category', page='fashion') }}">
                <img src="{{url_for('static',filename='Fashion_Photography/New_folder/2-small.JPG')}}" srcset="{{url_for('static',filename='Fashion_Photography/New_folder/2-small.JPG')}} 601w ,{{url_for('static',filename='Fashion_Photography/New_folder/2-medium.JPG')}} 939w, {{url_for('static',filename='Fashion_Photography/New_folder/2-large.JPG')}} 1377w" class="img-fluid rounded hoverable regular-width" alt="Responsive image">
                <div class="caption rounded bg-secondary px-2">
                    <h1 class="text-center">Fashion</h1>
                </div>
            </a>
        </div>
        <div class="col-sm test mb-4">
            <a href="{{ url_for('main.category', page='food') }}">
                <img src="{{url_for('static',filename='6-small.JPG')}}" srcset="{{url_for('static',filename='6-small.JPG')}} 1400w ,{{url_for('static',filename='6-medium.JPG')}} 2000w, {{url_for('static',filename='6-large.JPG')}} 4200w" class="img-fluid rounded hoverable regular-width" alt="Responsive image">
                <div class="caption rounded bg-secondary px-2">
                    <h1 class="text-center">Food</h1>
                </div>
            </a>
        </div>
    </div>

{% endblock %}