{% extends 'layout.html' %} {% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm test">
            <a href="{{ url_for('main.portraits') }}">
                <img src="{{url_for('static',filename='Portraits/1Disguise/jade1.JPG')}}" class="img-fluid rounded hoverable" alt="Responsive image">
                <div class="caption rounded bg-secondary">
                    <h1>Portraits</h1>
                </div>
            </a>
            <br></br>
        </div>
        <div class="col-sm test">
            <a href="/double-exposure">
                <img src="{{url_for('static',filename='Portraits/Golden Lines/OTHERPHOTO2.JPG')}}" class="img-fluid rounded hoverable" alt="Responsive image">
                <div class="caption rounded bg-secondary">
                    <h1>Wedding</h1>
                </div>
            </a>
            <br></br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm test">
            <a href="/double-exposure">
                <img src="{{url_for('static',filename='Still Life/Coffee&Cigarettes/important.JPG')}}" class="img-fluid rounded hoverable" alt="Responsive image">
                <div class="caption rounded bg-secondary">
                    <h1>Still Life</h1>
                </div>
            </a>
            <br></br>
        </div>
        <div class="col-sm test">
            <a href="/double-exposure">
                <img src="{{url_for('static',filename='16.JPG')}}" class="img-fluid rounded hoverable" alt="Responsive image">
                <div class="caption rounded bg-secondary">
                    <h1>Family</h1>
                </div>
            </a>
            <br></br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm test">
            <a href="/double-exposure">
                <img src="{{url_for('static',filename='Fashion Photography/New Folder/2.JPG')}}" class="img-fluid rounded hoverable" alt="Responsive image">
                <div class="caption rounded bg-secondary">
                    <h1>Fashion</h1>
                </div>
            </a>
            <br></br>
        </div>
        <div class="col-sm test">
            <a href="/double-exposure">
                <img src="{{url_for('static',filename='6.JPG')}}" class="img-fluid rounded hoverable" alt="Responsive image">
                <div class="caption rounded bg-secondary">
                    <h1>Something</h1>
                </div>
            </a>
            <br></br>
        </div>
    </div>
</div>
{% endblock %}