{% extends 'layout.html' %} {% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm test">
            <a href="/double-exposure">
                <img src="{{url_for('static',filename='16.JPG')}}" class="img-fluid rounded hoverable" alt="Responsive image">
                <div class="caption rounded">
                    <h1>Portraits</h1>
                </div>
            </a>
            <br></br>
        </div>
        <div class="col-sm">
            <img src="{{url_for('static',filename='1.JPG')}}" class="img-fluid rounded" alt="Responsive image">
            <br></br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <img src="{{url_for('static',filename='2.JPG')}}" class="img-fluid rounded" alt="Responsive image">
            <br></br>
        </div>
        <div class="col-sm">
            <img src="{{url_for('static',filename='3.JPG')}}" class="img-fluid rounded" alt="Responsive image">
            <br></br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <img src="{{url_for('static',filename='4.JPG')}}" class="img-fluid rounded" alt="Responsive image">
            <br></br>
        </div>
        <div class="col-sm">
            <img src="{{url_for('static',filename='5.JPG')}}" class="img-fluid rounded" alt="Responsive image">
            <br></br>
        </div>
    </div>
</div>
{% endblock %}